# General
*.log
*.pid
*.tmp
.DS_Store
Thumbs.db

# JetBrains
.idea/
/.project
**___jb_tmp___
*.iml

# Visual Studio Code
/.vscode

# Sublime Text
*.sublime-project
*.sublime-workspace

# Node.js
/.cache
/.nyc_output
/coverage
node_modules

# Repository specific
/artifact
/dev
/testbuild
/ts
